# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage
firebase-debug.log
.firebase/

# production
/build
/dist
/public/meta.json

# misc
.DS_Store
.env
.local
debug.log
src/wbo-shared
/.tmp.driveupload

npm-debug.log*
yarn-debug.log*
yarn-error.log*
**.bak
